.signup-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: #fdfdfd;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 25px;
  color: #333;
}

.signup-container input {
  width: 80%;
  padding: 12px;
  margin: 8px 0 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.signup-container button {
  width: 100%;
  padding: 12px;
  background-color: #3c6e71;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.signup-container button:hover {
  background-color: #2b5153;
}

.signup-container p {
  margin-top: 20px;
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
}

.signup-container p:hover {
  text-decoration: underline;
}


.demo {
  border-left: 4px solid #3c6e71;
  background-color: #f0f4f4;
  padding: 16px;
  margin-top: 30px;
  font-size: 15px;
  color: #3c6e71;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none;
  color:black;
}

.demo p{
  text-decoration: none;
  color:black;
}


.demo p:hover {
  text-decoration: none;
}
